node_modules
.next
dist
data/*.db
data/*.pdf
data/*.png
data/*.jpg
data/*.webp
data/*.db-journal
data/*.db-wal
data/*.db-shm
data/backups
public/uploads/*
!public/uploads/.gitkeep
.env
.env.local
.env.production
*.log
